<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find r2_d2demo)/map/map2.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(find r2_d2demo)/map/map2.yaml"/>

  <!-- AMCL -->
  <include file="$(find r2_d2demo)/launch/amcl_demo.launch"/>

  <!-- move_base -->
  <include file="$(find r2_d2demo)/launch/move_base_demo.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>
  </group>

  <!--goal publisher-->
  <include file="$(find goal_publisher)/launch/goal_publisher.launch"/>

  <!--node-->
  <node pkg = "r2_d2demo" type = "navigation_demo.py" name = "nav_demo" output = "screen" />
  
</launch>
